@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    
}
/* //with PC */
.main{
    
  
   
   
    height: 100vh;
    
    
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(240deg, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    color: wheat;
    
}
.main_clock{
    font-size: 100px;
}
.main_date{
    font-size: 40px;
}
.change_color_bg{
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #adc1ff;
    
}

.change_bg{
    position: absolute;
    right: 0;
    top:0;
    margin: 14px 14px 0 0 ;
    
    padding: 6px;
    
}
.img{
    width: 24px;
    box-shadow: 0px 0px 15px #b22dff;
    border-radius: 50%;
    display: block;
    
}
.img2{
    width: 24px;
    box-shadow: 0px 0px 10px #8eb7ff;
    border-radius: 50%;
    display: block;
    
}


.none{
    display: none;
    
}
/* responsive mobie */
@media only screen and (min-width: 46.25em) and (max-width:64em){
    .main_clock{
        font-size: 80px;
    }
    .main_date{
        font-size: 30px;
    }
}
@media only screen and (max-width:46em){
    .main_clock{
        font-size: 50px;
    }
    .main_date{
        font-size: 20px;
    }
}
@media only screen and (max-width:20em){
    .main_clock{
        font-size: 40px;
    }
    .main_date{
        font-size: 20px;
    }
}
